.DS_Store
AramarkFSP.xcodeproj/project.xcworkspace/xcuserdata/brunonader.xcuserdatad/UserInterfaceState.xcuserstate
AramarkFSP.xcodeproj/xcuserdata/brunonader.xcuserdatad/xcschemes/AramarkFSP.xcscheme
AramarkFSP.xcodeproj/xcuserdata/brunonader.xcuserdatad/xcschemes/xcschememanagement.plist
